

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*.projectSlide {
	background: #ff2834;
    float: left;
    position: relative;
    overflow: hidden;
    width: 15%;
} */
ul, li {
    padding: 0;
    margin: 0;
}
.leftMenu {
    width: 50px;
    height: 100%;
    min-height: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    -webkit-box-shadow: 1px 0 8px rgba(0,0,0,.2);
    -moz-box-shadow: 1px 0 8px rgba(0,0,0,.2);
    box-shadow: 1px 0 8px rgba(0,0,0,.2);
    z-index: 100;
}
a.logo, a.navOpener, a.weboniseLogo {
    height: 30px;
    width: 30px;
    position: absolute;
    display: block;
    left: 10px;
    text-indent: -5000px;
}
a.logo {
    background: url("../img/logo.jpg");
    top: 18px;
}
a.navOpener {
    background: url("../img/menuOpener.jpg");
    top: 50%;
    margin-top: -15px;
}
a.weboniseLogo {
    background: url("../img/weboniseLogo.jpg");
    bottom: 18px;
}
.projectSlide img {
    position: absolute;
    height: 100%;
    max-width: none;
}
.projectSlide {
    height: 100px;
}
.projectSlide > li {
    height: 100%;
    list-style: none;
}

#panel-1 { background-color: #53b388; }
#panel-2 { background-color: #5a69a9; }
#panel-3 { background-color: #c26468; }
#panel-4 { background-color: #bf7cc7; }
#panel-5 { background-color: #53b388; }











